@using iduo.Screen.Models
@{
    Layout = null;
    var num = ViewBag.num;
    var lessNum = ViewBag.lessNum;
    var xiaoli = ViewBag.xiaoli;
    var tz = ViewBag.teachingNoticeList as List<Notice>;
    var dt = ViewBag.teachingTrendsList as List<Notice>; ;
    var yg = ViewBag.lectureNoticeList as List<Notice>; ;

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>农林大学客户端</title>
    <add name="X-Frame-Options" value="SAMEORIGIN" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Scripts/slick/slick.css" rel="stylesheet" />
    <link href="~/Scripts/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/AdminLTE-2.3.11/dist/css/AdminLTE.css" rel="stylesheet" />
    <script src="~/Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/slick/slick.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.js"></script>
    
    <script src="~/Scripts/popwin.js"></script>
    <style>
        .close {
            float: inherit !important;
            position: relative;
            display: inline-block;
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50px;
            background: black;
            opacity: 0.5;
        }

            .close:hover {
                cursor: pointer;
                opacity: 1;
            }

            .close::before, .close::after {
                content: '';
                position: absolute;
                width: 80%;
                top: 50%;
                left: 10%;
                height: 12px;
                margin-top: -6px;
                border-radius: 5px;
                background: #ffffff;
            }

            .close::before {
                transform: rotate(45deg);
            }

            .close::after {
                transform: rotate(-45deg);
            }

        .bottomDiv {
            position: fixed;
            height: 100px;
            line-height: 24px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.15);
            bottom: 40px;
            _position: absolute;
            width: 100%;
        }
    </style>
    <style type="text/css">
        .div-h-w {
        height:100%;
        width:100%;
        }
        .btn-success {
            right: 33px;
            position: absolute;
        }

        .list-group {
            color: white !important;
        }

        .box-header {
            color: white;
            text-align: center;
        }

        .list-group-item {
            background-color: rgba(255, 255, 255, 0.15) !important;
        }

        .box {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }

        .btn-flat {
            background-color: #205672;
            color: white;
        }

        .middle-inner {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .middle-wrap {
            display: table;
            height: 100%;
            width: 100%;
        }

        .margin-left-5 {
            margin-left: 5% !important;
        }

        .padding-top-30 {
            padding-top: 30px;
        }

        .logo {
            /*margin: 20px 0 0;
            margin-left: 50%;*/
        }

        .loc-list {
            margin: 0,0,0,0 !important;
        }

        .bg-org {
            background: #d1644d;
        }

        .bg-blue {
            background: #0073b7;
        }

        .bg-green {
            background: #42a529;
        }

        .bg-cus {
            background: #009688;
        }

        .bg-kql {
            background: #d1644d;
        }

        .bg-red {
            background: #B0171F;
        }

        .bg-black {
            background: #423737;
        }

        .bg-1 {
            background: #B0171F;
        }

        .bg-2 {
            background: #e58d1d;
        }

        .bg-3 {
            background: #cb4981;
        }

        .bg-4 {
            background: #139bab;
        }

        .bg-5 {
            background: #7da32f;
        }

        .bg-6 {
            background: #dbc212;
        }

        .bg-7 {
            background: #006a77;
        }

        .bg-8 {
            background: #2f4599;
        }

        .bg-9 {
            background: #d1644d;
        }

        .col-item {
            height: 250px !important;
            width: 32% !important;
            float: left;
            margin-left: 8px;
            margin-bottom: 8px;
            border-radius: 20px;
        }

        .custom-userinfo {
            color: white !important;
            font-size: 30px;
        }

        .div-userinfo {
            padding-top: 10px;
        }

        a a:link, a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        .txt {
            font-size: 24px;
            color: #fff;
        }

        .custom-i {
            display: inline-block;
            position: relative;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            height: 120px;
            width: 150px;
            color: white;
            font-size: 100px;
        }

        .glyphicon {
            color: white;
            font-size: 40px;
            left: 70%;
            top: 15px;
        }

        .custom-form {
            margin: 4% 0 0 35%;
        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            color: #fcf8e3;
        }

        .slick-list {
            /*padding-left: 25px !important;*/
        }

        .sys-time {
            color: white;
            font-size: 24px;
            margin-top: 50px;
            text-align: right;
        }

        .h125 {
            height: 110px !important;
        }

        .div-user {
            text-align: center !important;
            padding-top: 2% !important;
        }

        .div-searchAndTime {
            padding-top: 2% !important;
            /*width: 31.333333%!important;*/
        }

        .div-weather {
            padding-top: 0px;
        }

        .custom-weather {
            color: white;
            font: 24px;
            margin-left: 15%;
        }

        .weather-info {
            margin-top: 10px !important;
            background-color: transparent;
            font-size: 17px;
            font-family: "Microsoft Yahei","黑体";
            font-weight: normal;
            color: white;
            display: table;
            padding: 0 0 0 10px;
        }

        .tq {
            margin: 24px 0 0 0;
            padding: 0 0 0 15px;
        }

        .img-ico {
            height: 100px;
            width: 100px;
        }

        .a-radius-7 {
            border-radius: 7px;
        }

        .notice {
            color: white;
            font-size: 19px;
            margin: 10px 0 0 16%;
        }

        .custom-body {
            background-image: url(/Images/iduo-bg.png);
            background-size: cover;
            overflow-x: hidden;
            overflow-y: auto;
            font-family: "Microsoft Yahei","黑体" !important;
        }

        .footer {
            color: white;
            text-align: center;
            margin-top: 2%;
        }

        .custom-school {
            /*text-align: center;*/
            color: white;
            font-size: 20px;
            margin: 5% 0 0 0;
        }

        .custom-left-menu {
            height: 100%;
            width: 50px;
        }

        .col-md-9 {
            margin: 2% 0 0 10%;
        }

        .custom-main {
            /*margin-top:10%!important;*/
        }

        .custom-left {
            float: left;
            width: 20%;
        }

        .custom-right {
            float: right;
            width: 80%;
        }

        .qq {
            color: white;
            height: 100%;
        }

        .div-left {
            float: left;
            width: 15%;
            /*height: 1000px;*/
            background-color: rgba(255, 255, 255, 0.15);
            padding-top: 20px;
            margin-left: 50px;
            margin-top: 5%;
        }

        .div-right {
            float: right;
            width: 80%;
            height: 1000px;
        }

        .div-left-top {
            height: 30.33333333%;
            padding-left: 10px;
            border-right-width: 10px;
        }

        .div-left-mid {
            height: 30.33333333%;
            padding-left: 10px;
            border-right-width: 10px;
        }

        .div-left-bottom {
            height: 30.33333333%;
            padding-left: 10px;
            border-right-width: 10px;
        }

        .div-teaching-notice {
            color: #6d6d6d;
            font-size: 18px;
            text-align: center;
            background-color: #ffffff
        }
        .div-tz .list-group-item {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        a{
            color:white;
        }
        a:hover{
            color:#e58d1d
        }
    </style>
</head>
<body class="custom-body" style="color:white;">
    <div class="container-fluid">

        <div class="row div-left">

            <div class="div-left-top">

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title">教学通知</h4>
                    </div>
                    <div class="box-body">
                        <!-- the events -->
                        <div class="div-tz">
                            <ul class="list-group">
                                @if (tz != null)
                                {
                                    foreach (var item in tz)
                                    {
                                        <li class="list-group-item custom-li"><a onclick="openNW('@item.url')" >@item.title</a></li>
                                    }
                                }
                                <li class="list-group-item text-center"><a target="_blank" href="@Url.Action("Index","Notice",new {newsType=1})">查看更多....</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
              
            </div>

            <div class="div-left-mid">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title">教学动态</h4>
                    </div>
                    <div class="box-body">
                        <!-- the events -->
                        <div class="div-tz">
                            <ul class="list-group">
                                 @if ( dt != null)
                                {
                                    foreach (var item in dt)
                                    {
                                        <li class="list-group-item"><a href="@Url.Action("Iframe","Home",new { title= "教学动态", url=item.url})" target="_blank">@item.title</a></li>
                                     }
                                 }
                                <li class="list-group-item text-center"><a href="@Url.Action("Index","Notice",new {newsType=2})" target="_blank">查看更多....</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-left-bottom">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title">讲座预告</h4>
                    </div>
                    <div class="box-body">
                        <!-- the events -->
                        <div class="div-tz">
                            <ul class="list-group">
                                @if ( yg != null)
                                {
                                    foreach (var item in yg)
                                    {
                                        <li class="list-group-item"><a href="@Url.Action("Iframe","Home",new { title= "讲座预告", url=item.url})" target="_blank">@item.title</a></li>
                                    }
                                }
                                <li class="list-group-item text-center"><a target="_blank" href="@Url.Action("Index","Notice",new {newsType=3})">查看更多....</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row div-right">

            <div class="row custom-main">

                <div class="div-head">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="@Url.Action("index")" class="logo">
                                <img class="a-radius-7" src="~/Images/logo-nonglin.png">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <div class="custom-school">
                                @if (!string.IsNullOrEmpty(xiaoli))
                                {
                                    <span>@xiaoli</span>
                                }
                                <br />
                                <a href="@Url.Action("Iframe","Home",new { title="校历",url="http://www.zjfc.edu.cn/info/1114/32990.htm"})">
                                    <span class="btn btn-success">
                                        <i class="fa fa-calendar"></i> 校历
                                    </span>
                                </a>
                               
                            </div>
                        </div>
                        <div class="col-md-3">
                            <form class="col-md-8 custom-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="navbar-search-input" placeholder="搜索">
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <div class="sys-time">
                            </div>
                        </div>
                        <div class="col-md-2 div-userinfo">
                            <a href="#" class="custom-userinfo">
                                <span>张浩</span>
                                <img src="~/Images/iduoUser.png" style="width:45px;" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 ">
                    <div class="row">
                        <div class="slick-initialized slick-slider">
                            <div class="slider multiple-items" id="applist">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog divtop div-h-w" role="document">
                <div class="modal-content divtop div-h-w"  id="dialogContent">
                </div>
                <div class="bottomDiv"><a data-dismiss="modal" class="close"></a></div>

            </div>
        </div>
    </div>
</body>

</html>
<script src="~/Scripts/cityid.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var screenWidth = $(window).width();//获取屏幕可视区域的宽度。
        $(".bottomDiv").width(screenWidth);//将宽度赋值给bottomDiv使其可以贯穿整个屏幕。
        var screenHeight = $(window).height();//获取屏幕可视区域的高度。
        var divHeight = $(".bottomDiv").height() + 1;//bottomDiv的高度再加上它一像素的边框。

        $(window).scroll(function () {
            var scrollHeight = $(document).scrollTop();//获取滚动条滚动的高度。
            if (!window.XMLHttpRequest) {
                $(".bottomDiv").css("top", screenHeight + scrollHeight - divHeight);
            }//判断是否为IE6，如果是，执行大括号中内容
        })
    })

    $(function () {
        LoadingApp();
        $('.multiple-items').slick({
            infinite: true,
            dots: true,
        });
        updateTime(); setInterval(updateTime, 1000);
    });
    //系统时间
    function updateTime() {
        var a = new Array("日", "一", "二", "三", "四", "五", "六");
        var week = new Date().getDay();
        var str = "星期" + a[week];
        $(".sys-time").html(new Date().toLocaleDateString() + "&nbsp;" + new Date().toLocaleTimeString()+"&nbsp"+str);
    }
    var az = "";
    //加载应用,默认3X3
    function LoadingApp() {
        var defaultNum = 9;
        var num = '@num';
        var lessnum = '@lessNum';
        if (num == 0 || num == undefined) num = defaultNum;
        var arr = [];
        var data = [];
        $.ajax({
            url: '/Home/GetApp',
            type: "Get",
            async: false,
            datetype: "json",
            success: function (result) {
                var json = eval('(' + result + ')');
                data = json;

            },
            error: function (result) {
                console.log("发生错误" + result);
            }
        });
        $(data).each(function (index, item) {
            //var tpl = "<a style=\"background:{bgclass}\" href=\"{url}\" title=\"{text}\" target=\"_blank\" class=\"col-item  \" ><div class=\"middle-wrap\"><div class=\"middle-inner\"><i class=\" fa {iclass} custom-i\"></i><span class=\"row txt\">{title}</span></div></div></a>";

            var tpl = "<a style=\"background:{bgclass}\" onclick=\"openNW('{url}')\"  title=\"{text}\" target=\"_blank\" class=\"col-item  \" ><div class=\"middle-wrap\"><div class=\"middle-inner\"><i class=\" fa {iclass} custom-i\"></i><span class=\"row txt\">{title}</span></div></div></a>";

            if (index % num == 0) {
                arr.push("<div>");
            }

            //var aurl = "/Home/Iframe?title=" + item.title + "&url=" + item.url;
            //arr.push(tpl.replace("{url}", aurl ).replace("{bgclass}", item.bg).replace("{text}", item.title == null ? "" : item.title).replace("{title}", item.title).replace("{iclass}", item.bgicon));

            arr.push(tpl.replace("{url}", item.url).replace("{bgclass}", item.bg).replace("{text}", item.title == null ? "" : item.title).replace("{title}", item.title).replace("{iclass}", item.bgicon));
            if (index % num == lessnum) {
                arr.push("</div>");
            }
        });

        var container = $("#applist");
        container.html(arr.join(''));
    }


    //打开弹层，并嵌入iframe
    function openNW(url) {
        document.getElementById("dialogContent").innerHTML = '<iframe id="iframeId" width="100%" height="100%" frameborder=0 scrolling="auto" src=""></iframe>'
        var frameSrc = url;
        $("#iframeId").attr("src", frameSrc);
        $('#customModal').modal('show');
    }

    function Other(url) {
        $('#customModal').modal('show');
        $("#iframeId").attr("src", url);
        $('#customModal').modal('show');
    }
  
    //$(function () {
    //    $('.custom-li').click(function () {
    //        // 找出 li 中的超链接 href(#id)
    //        var $this = $(this),
    //            _clickTab = $this.find('a').attr('href'); // 找到链接a中的targer的值
    //        alert(_clickTab + "_clickTab");
    //        $.get(_clickTab, function (data) {
    //            $("#dialogContent").html(data);
    //        });
    //    });
    //});

    //function openNW(url) {
    //    var screenWidth = $(window).width();//获取屏幕可视区域的宽度。
    //    var screenHeight = $(window).height();//获取屏幕可视区域的高度。
    //    //window.open(url, "", "width=" + screenWidth + ",height=" + screenHeight+",toolbar=no,menubar=no,scrollbars=no,resizable=yes,location=no,status=no");
    //    window.open(url, '', 'width=' + (window.screen.availWidth - 10) + ',height=' + (window.screen.availHeight - 30) + ',top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no')  
    //}


   
</script>